RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /fotografia/index.php/$1 [L]
ErrorDocument 404 /fotografia/index.php

AddDefaultCharset utf-8