/*
* Base Color #00CAC0;
* Hover base Color #199999
*/

#login, #password-recovery {
    border: 1px solid #c3c3c3;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    margin: 50px auto;
    padding: 15px;
}

.header-form-div {
    text-align: center;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 35px;
    padding-bottom: 10px;
}

.header-form-label {
    width: 100%;
    color: black;
    font-size: 36px;
}

.login-btn, .recovery-btn {
    width: 100%;
    /*background-color: #00CAC0;*/
    border: none;
}

.login-btn:hover, .recovery-btn:hover {
    background-color: #199999;
}

.login-btn-div {
    text-align: center;
    padding: 0px 50px;
}

#phase-process-container {
    margin-top: 25px;
}

.process-list-item,
.task-list-item {
    margin: 3px;
}

.text-danger {
    color: #d9534f;
    font-weight: bold;
}

.margin-after-icon {
    margin-right: 5px;
}

.small-text {
    margin-left: 10px;
    font-size: 14px;
}

.edit-task-status:hover, .edit-task-date:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task-completed {
    color: #FFFFFF;
    background-color: #5cb85c;
    padding: 3px;
    border: 1px solid #4cae4c;
    border-radius: .2em;
}

.task-completed:hover {
    color: #FFFFFF;
}

#bad-credentials {
    color: #a94442;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/** trial stuffs **/
.trial-top-message {
    color: #ffe71a !important;
}

.error-container {
    text-align: center;
    margin: 10px 0 !important;
}

.error-label {
    min-width: 80%;
    color: white;
    background-color: #DA7A7A !important;
    padding: 10px 200px;
    border-radius: .3em;
}
